body {
    background-color: pink;
    color: white;
    font-size: 36px;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

p {
    margin: 100px;
}

.paragraph2 {
    color: #5ef645;
}

.one:hover {
    background-color: lime;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}