body {
    color: hotpink;
    font-size: 50px;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
body  {
    background-image: url("mondrian.jpg");
    
}
body {
    
}
.p {
    margin: 100px;
}

.paragraph2 {
    color: #5ef645;
}

.one {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: fixed;
    bottom: 20px;
    right: 100px;
    border-radius: 100px;
    border: solid red 10px 
}

.one:hover {
    background-color: lime;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}
.img {
    content: icon;
    icon: url(icon2.png);
    border-radius: 100%;
}
header {
    background:black;
    color:white;
    text-align:center;
    padding:5px;     
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;          
}
section {
    width:350px;
    float:left;
    padding:10px;        
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;         
}
div {
    width: 100px;
    height: 60px;
    background: green;
    color: white;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite;  /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
#div1 {-webkit-animation-timing-function: linear;}
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out;}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}