body {
    background-image: dotdot;
    color: red;
    font-size: 36px;
    font-family: Arial Black;
    text-align: center;
}
body  {
    background-image: url("dotdot.jpg");
}

p {
    margin: 100px;
    border:10px solid grey;
    padding:10px;
    margin:30px;
}

.paragraph2 {
    color: #5ef645;
}

.one {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: fixed;
    bottom: 20px;
    right: 100px;
    border-radius: 100px;
    border: solid red 10px 
}

.one:hover {
    background-color: lime;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}
.img {
    content: icon;
    icon: url(icon2.png);
    border-radius: 100%;
   
    
	
    
</html>