body {
    color: hotpink;
    font-size: 50px;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
body  {
    background-image: url("mondrian.jpg");
    
}
.p {
    margin: 100px;
}

.paragraph2 {
    color: #5ef645;
}

.one {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: fixed;
    bottom: 20px;
    right: 100px;
    border-radius: 100px;
    border: solid red 10px 
}

.one:hover {
    background-color: lime;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}
.img {
    content: icon;
    icon: url(icon2.png);
    border-radius: 100%;
}
header {
    background:black;
    color:white;
    text-align:center;
    padding:5px;     
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;          
}
section {
    width:350px;
    float:left;
    padding:10px;        
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;         
}